/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #fff;
	font-family: 'Montserrat', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
p {
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1440px;
	width: 85vw;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/** header **/
.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 92px;
	background: #fff;
	transition: all .2s;
}
.in {
	height: 100%;
	position: relative;
}
.head-logo {
	position: absolute;
	width: 125px;
	height: 44px;
	top: 24px;
	left: 40px;
	transition: all .2s;
}
.head-logo img {
	width: 100%;
}






nav {
	height: 100%;
	transition: all .5s;
}
nav ul {
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
nav ul li {
	height: 100%;
}
nav ul li.estate {
	border-left: 1px solid #ccc;
	margin: 0 10px;
	padding: 0 0 0 10px;
}
nav ul li.phoneNum {
	background: #0E304C;
}
nav ul li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 92px;
	padding: 0 10px;
	height: 100%;
	transition: all .5s;
}
nav ul li.navBox a {
	line-height: 1;
}
nav ul li a:hover {
	color: #212121;
	background: #edeff1;
}
.toggle, .toggle-menu {
	display: none;
}

@media screen and (max-width: 1199px) {
	.top-header {
		height: 70px;
	}
	.top-header::before{
		width: calc( 100% - 68px );
		left: 68px;
	}
	.logo-symbol {
		width: 68px;
		height: 68px;
	}
	.logo-typo {
		top: 19px;
		left: 88px;
	}
	.contact a {
		padding: 12px 16px;
		font-size: 12px;
	}
	nav {
		padding-right: 156px;
	}
	nav ul li a {
		font-size: 12px;
		line-height: 68px;
		padding: 0 8px;
	}
	.toggle-menu nav {
		display: block;
		padding: 90px 60px;
	}
	.toggle-menu nav ul {
		height: auto;
	}
	.toggle-menu nav ul li {
		flex-direction: column;
		width: 100%;
		padding: 0;
		margin: 1rem 0;
	}
	.toggle-menu nav ul li a {
		text-align: left;
	}
	.toggle, .toggle.bisible {
		top: 21px;
		opacity: 1;
	}
	.toggle-menu {
		height: 100%;
	}
}
@media screen and (max-width: 1023px) {
	.top-header::before{
		background-image: none;
	}
	.logo-symbol {
		width: 44px;
		height: 44px;
		top: 10px;
		left: 10px;
	}
	.logo-typo {
		display: none;
	}
	nav {
		display: none;
	}
	.toggle, .toggle span {
		display: inline-block;
	}
	.toggle {
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		width: 44px;
		height: 44px;
		background: #fff;
		border-radius: 22px;
		z-index: 3;
		appearance: none;
		cursor: pointer;
	  }
	  .toggle:focus:not(:focus-visible) {
		outline: none;
	  }
	  .toggle span {
		position: absolute;
		width: 22px;
		height: 1px;
		background: #434343;
		border-radius: 4px;
	  }
	  .toggle span:nth-of-type(1) {
		top: 15px;
		left: 11px;
		transition: top .3s;
	  }
	  .toggle span:nth-of-type(2) {
		top: 21px;
		left: 11px;
		transition: opacity .3s;
	  }
	  .toggle span:nth-of-type(3) {
		bottom: 16px;
		left: 11px;
		transition: bottom .3s;
	  }
	  .toggle.active span:nth-of-type(1) {
		top: 21px;
		transform: rotate(-45deg);
		transition: top .3s cubic-bezier(.36, -.42, .68, -.56), transform .3s .3s;
	  }
	  .toggle.active span:nth-of-type(2) {
		opacity: 0;
		transition: opacity .05s .3s;
	  }
	  .toggle.active span:nth-of-type(3) {
		bottom: 21px;
		transform: rotate(45deg);
		transition: bottom .3s cubic-bezier(.36, -.42, .68, -.56), transform .3s .3s;
	  }
	  .toggle-menu {
		  display: block;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		transform: translateX(110%);
		transition: all .5s;
		background: #fff;
		z-index: 2;
		overflow: auto;
	 -webkit-overflow-scrolling: touch;
	}
	.toggle-menu.active {
		transform: translateY(0%);
	}
	.toggle-menu.active nav.bisible {
		opacity: 1;
	}
	.toggle-menu.active nav ul li {
		margin: 0;
	}
	.toggle-menu.active nav ul li a:hover {
		background: none;
	}
	.toggle-menu.active nav ul li a {
		color: #000;
		display: inline-block;
		width: 100%;
		font-size: 14px;
	}
	.toggle-menu nav {
		padding: 80px 16px;
	}
}
/** main **/
main {
	width: 100%;
	background: hsl(214, 97%, 23%, 0.5);
}
.p-index__mainVisual {
	width: 100%;
	height: 120vw;
	padding: 100px 0 0 0;
	background: hsl(214, 97%, 23%, 0.1);
}
.p-index__event {
	width: 100%;
	height: 130vw;
	background: hsl(214, 97%, 23%, 0.2);
}
.p-index__news {
	width: 100%;
	height: 80vw;
	background: hsl(214, 97%, 23%, 0.3);
}
.p-index__brand {
	width: 100%;
	height: 20vw;
	background: hsl(214, 97%, 23%, 0.4);
}
.p-index__voice {
	width: 100%;
	height: 20vw;
	background: hsl(214, 97%, 23%, 0.5);
}
.footer__own__wrap {
	width: 100%;
	height: 40vw;
	background: hsl(214, 97%, 23%, 0.6);
}
.p-index__exhibition {
	width: 100%;
	height: 20vw;
	background: hsl(214, 97%, 23%, 0.7);
}
.p-index__works {
	width: 100%;
	height: 40vw;
	background: hsl(214, 97%, 23%, 0.8);
}

/** aside **/
aside {
	width: 100%;
	height: 20vw;
	background: #5595AA;
}

/** footer **/
footer {
	width: 100%;
	height: 40vw;
	background: #037F8C;
}
